{% extends "app/base.html" %}
{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>メールアドレス</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>ユーザー名</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>姓</th>
            <td>{{ user.last_name }}</td>
        </tr>
        <tr>
            <th>名</th>
            <td>{{ user.first_name }}</td>
        </tr>
    </tbody>
</table>
<div class="container mt-3">
    <ul>
        <li><a href="{% url 'app:user_update' user.pk %}">プロフィール更新</a></li>
        <li><a href="{% url 'app:email_change' %}">メールアドレスの変更</a></li>
        <li><a href="{% url 'app:password_change' %}">パスワード変更</a></li>
        <li><a href="{% url 'app:user_delete' user.pk %}">退会</a></li>
    </ul>
</div>
{% endblock %}